// div{
// margin-top: 30%;
// //margin-left: 0.5%;
// //background-color: rgb(201, 104, 201);
// border: 1px solid black;
// }
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}

.error
{
  color: rgb(223,62,62);
  font-size: 11px;
}
// .error1
// {
//   color: rgb(75,75,75);
//   border-bottom: 1px solid #ff0000;
// }