<ion-header>
  <ion-toolbar>
   <ion-title text-center style="color:cornflowerblue">
    Vishwabharti High School
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-img src="/assets/photos/logo.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title text-center>Welcome</ion-card-title>
      </ion-card-header>
      
   
    <ion-button style="margin-left:28%; width:40%; border-radius:20%;" class="center ion-buttons" (click)="onlogin()">Login</ion-button>
</ion-content>
   
      
      
